<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock and Timer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script type="importmap">
        {
          "imports": {
            "vue": "https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.esm-browser.js"
          }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="logic.js"></script>
</head>
<body>
    <section class="hero">
        <div class="hero-body">
            <h1 class="title">
            Clock &amp; Timer
            </h1>
            <p class="subtitle">
                Analog clock and digital timer on the same screen
            </p>
        </div>
    </section>
    <section class="section">
        <div class="columns">
            <!-- Clock -->
            <!-- This clock is based on Web Tech Talk: https://youtu.be/cx0TU2ZMAdU?si=_eHIhZdUn01z29z4 -->
            <div class="column is-centered">
                <h2 class="subtitle"><i class="fas fa-clock"></i>Clock</h2>
                <div class="clock-dial">
                <div class="brand">CLOCK</div>        
                <div class="minute-hand-wrapper" id="minute-hand">
                    <div class="minute-hand">
                        <div class="hand"></div>
                    </div>
                </div>
        
                <div class="hour-hand-wrapper" id="hour-hand">
                    <div class="hour-hand">
                        <div class="hand"></div>
                    </div>
                </div>
        
                <div class="second-hand-wrapper" id="second-hand">
                    <div class="second-hand">
                        <div class="hand"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Timer -->
        <div id="app" class="column">
            <h2 class="subtitle"><i class="fas fa-hourglass"></i>Timer</h2>
            <div class="container">
                <div class="column has-text-centered timer-face">{{ timerStr }}</div>
                <div v-if="finished" class="notification has-text-centered is-success"><span class="icon-text"><span class="icon"><i class="fas fa-lightbulb"></i></span><span>finished!!</span></span></div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="columns">
                        <div class="column is-one-third">
                            <input class="input" type="text" v-bind:disabled="locked" v-model="minStr" maxlength="3" @keypress="isNumber($event)" @change="reset">
                        </div>
                        <div class="column is-narrow"><label class="label">min.</label></div>
                        <div class="column is-one-third">
                            <input class="input" type="text" v-bind:disabled="locked" v-model="secStr" maxlength="2" @keypress="isNumber($event)" @change="reset">
                        </div>
                        <div class="column is-narrow"><label class="label">sec.</label></div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button v-bind:disabled="!started || locked" class="button is-primary" @click="reset"><i class="fas fa-step-backward"></i> Reset</button>
                </div>
                <div class="control">
                    <button v-bind:disabled="finished" v-if="!playMode" class="button is-primary" @click="start"><i class="fas fa-play"></i> Start</button>
                </div>
                <div class="control">
                    <button v-bind:disabled="locked" v-if="playMode" class="button is-primary" @click="pause"><i class="fas fa-pause"></i> Pause</button>
                </div>
                <div class="control">
                    <label class="checkbox"><input type="checkbox" v-model="locked"><i class="fas fa-lock"></i>Lock</label>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="section">
        <p><a href="about.html">About Clock &amp; Timer</a></p>
        <p>Music: <a href="https://maou.audio/">MaouDamashii</a></p>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            <strong>Clock &amp; Timer</strong> by KONNO Akihisa</a>
            </p>
        </div>
    </footer>
</div>

</body>
</html>